*{
    margin: 0px;

}
.navbar{

    background-color: #0E3D61;
    width: 100%;
    height: 40px;
    color: white;
   
    
}
.navbar li{
display: inline;
float: right;
padding-left: 4%;
margin-top: 10px;
margin-right: 20px;
}
.navbar .logo_txt{
    margin-top: 12px;  
    float: left;
    margin-left: 8px;
}
.first_img{
    
    background-image: url("images/james.jpeg");
    background-size: cover;
    content: "";
    width: 100%;
   height: 500px;
  align-content: center;
  
}
.first_img .advert_text{
   padding-top: 30%;
    margin: auto;
    width: 50%;
    height: 20%;
  
  
}
